@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@700&display=swap');
/*közös oldal stílusai*/
/*minireset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --secondaryFontColor: #ffb32f; /*másodlagos szín (narancssárga)*/
    --mainTitleFont: Poppins, sans-serif; /*címek font*/
    --bodyFont: 'Open Sans', sans-serif; /*tartalom font*/
    --lightColor: #fff;
    --darkColor: #1e283c;
    --lightGrey: #f7f7f7;
    --darkTextColor: #212529;
    --baseTextColor: #818181;
    --lightGrey2: #e1e1e1;
}

/*mobile first!!!!*/
html, body {
    font-family: var(--bodyFont);
    height: 100%;
    color: var(--baseTextColor);
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--mainTitleFont);
    color: var(--darkTextColor);
}
ul,ol {
    list-style: none;
}
img {
    max-width: 100%;
}
#blog img {
    max-width: 115%;
}
/*általános beállítások*/
body > section:not(#skill) {
    padding-bottom: 60px;
}
.container {
    /*background: khaki;*/
    padding: 0 15px;
}
input,textarea {
    width:100%;
    padding:5px 10px;
    border:none;
    outline:none;
    border-bottom: 1px solid var(--lightGrey);
    font-family: var(--bodyFont);
    transition: all 500ms ease-in-out;
}

input:focus, textarea:focus {
    border-bottom-color:var(--darkTextColor);
}
button {
    background:none;
    border:none;
    justify-self:start;
}
/*gombok*/
.btn {
    display: inline-block;
    text-transform:uppercase;
    padding:10px 20px;
    text-decoration:none;
    border:none;
    background:var(--lightGrey);
    outline:none;
    color:var(--darkTextColor);
    font-size:0.8em;
    font-weight:bold;
    cursor:pointer;
    transition: all 500ms ease-in-out;
}
.btn-primary {
    color:var(--lightColor);
    background:var(--secondaryFontColor);
}
.btn-primary:hover {
    background: var(--darkTextColor);
}
/*vszürke háűttér segédclass*/
.lightBg {
    background-color: var(--lightGrey);
}
.flex-container {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.flex-container > .box {
     flex:1;
 }

.grid-container {
    display: grid;
    grid-gap:1em;
}

/*fejléc/menü*/
.main-header {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    width: 100%;
    background-color: transparent;
    z-index: 9999;
}

.main-menu a {
    color: var(--lightColor);
    text-decoration: none;
    margin-left: 8px;
    margin-bottom: 5px;
    text-transform: uppercase;
    display:block;
    border-bottom: 2px solid transparent;
    font-weight: 600;
}

.main-menu a:hover {
    color: var(--secondaryFontColor) !important;
    border-bottom-color: var(--secondaryFontColor);
}

.sticky {
    position: fixed;
    background-color: var(--lightColor);
    top: 0;
    left: 0;
    right: 0;
}

.sticky .main-menu a {
    color: var(--darkColor);
}

.logo {
    padding: 10px 0;
}

.logo img {
    height: 45px;
}

.sectionTitle {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    margin-bottom: 45px;
}
.sectionTitle h2 {
    text-transform: uppercase;
}
.sectionTitle > span {
    color: var(--secondaryFontColor);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionTitle > span:before,
.sectionTitle > span:after {
    background: var(--secondaryFontColor);
    content: '';
    width: 30px;
    height: 3px;
    display: inline-block;
    margin: auto 1em;
}

.sectionTitle > p {
    max-width: 640px;
}
/**HERO SZEKCIÓ**/
#hero {
    height:100%;
    background: url(https://picsum.photos/1920/1080?random=1) center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
/*About*/
#about ul li {
    color:#111;
    border-bottom: 1px solid var(--lightGrey2);
    padding-bottom: 10px;
    margin-right:30px;
    margin-bottom: 15px;
}
#about ul span {
    color:var(--baseTextColor);
}
main > section:not(#skill),
#skill > .container {
    padding-bottom: 60px;
}
.column-2 {
    display: flex;
    flex-flow:column wrap;
    margin-top: 1em;
}

.box {
    /*background: pink;
    border: 1px solid #000;*/
}

/*skill*/

/*progress bars*/
.progress-bars > li {
    margin-bottom: 15px;
}

.progress-bars .title {
    display: flex;
    justify-content: space-between;
    color: var(--darkTextColor);
    text-transform: uppercase;
    font-weight: bold;
}

.progress-bars .bar {
    height: 15px;
    background: var(--baseTextColor);
}

.progress-bars .bar > .inner {
    background: var(--secondaryFontColor);
    height: 15px;
}
#skill > footer {
    padding:15px 0 30px;
    font-weight:bold;
    color:var(--lightColor);
    background: url('https://picsum.photos/1920/450');
    background-size:cover;
    /***/
    position:relative;

}
#skill > footer:before {
    position:absolute;
    content:'';
    background:rgba(0,0,0,.85);
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index:0;
}
#skill > footer .box {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top:30px;
    /**/
    position:relative;
    z-index:1;
}
#skill > footer .icon {
    font-size:2em;
}
/*számok*/
#skill > footer .number {
    color:var(--secondaryFontColor);
    margin:15px auto;
    font-size:1.2em;
}
#skill > footer p {
    text-transform:capitalize;
}
/**services**/
#services .grid-container > .box {
    box-shadow: 1px 1px 7px rgba(0,0,0,0.3);
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:0 15px 30px;
}
#services .grid-container > .box > header {
    border-bottom:1px solid var(--lightGrey2);
    align-self: stretch;
    height:50px;
    margin:0 -15px;
    position:relative;
    overflow:hidden;
}
#services .grid-container > .box  .nr {
    font-family:var(--mainTitleFont);
    font-size:3em;
    font-weight:900;
    color:var(--lightGrey2);
    position:absolute;
    right:15px;
    bottom:-.75em;
    transition:bottom 0.3s ease-in-out;
}
#services .grid-container > .box:hover .nr {
    bottom:-.3em;
}
#services h3 {
    text-transform: uppercase;
    margin-top:15px;
}
/*ikon*/
#services .grid-container > .box > .icon {
    padding:1em;
    background:var(--secondaryFontColor);
    margin:15px auto;
    color:var(--lightColor);
    font-size:2em;
    transition:transform 0.3s ease-in-out;
}
#services .grid-container > .box:hover > .icon {
    transform:scaleX(-1);
}

/**Blog szekció**/
#blog article {
    display: flex;
    flex-direction: column;
    background-color: var(--lightColor);
    box-shadow: 1px 1px 7px rgba(0,0,0,0.3);
    padding:0 15px 15px 15px;
}

#blog article > header {
    height: 200px;
    background: grey center no-repeat;
    display: flex;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
    margin:0 -15px;
}

#blog article > header > img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    object-fit: cover;
    display: block;
    transition: all 500ms ease-in-out;
}

#blog article:hover > header > img {
    width: 115%;
    height: 115%;
    margin: 0 -10%;
}

#blog article .comments {
    display: inline-block;
    color: var(--lightColor);
    font-weight: bold;
    background: var(--secondaryFontColor);
    padding: 10px;
    align-self: flex-start;
    margin: 10px;
    position: relative;
    z-index: 1;
}

#blog article h2 {
    font-size: 1em;
    line-height: 1.2em;
    margin: 0.5em 0;
    flex: 1;
}

#blog article h2 a {
    text-decoration: none;
    color: var(--darkColor);
}

#blog article h2 a:hover {
    color: var(--secondaryFontColor);
}

#blog article > footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

#blog article > footer > .author {
    background: var(--darkColor);
    color: var(--lightColor);
    border-radius: 40px;
    display: flex;
    align-items: center;
}

#blog article > footer a {
    color: var(--lightGrey);
    text-decoration: none;
    display: inline-block;
    margin-right: 15px;
}

#blog article > footer > time {
    font-weight: bold;
    color: var(--darkTextColor);
}

#blog article > footer > .author > img {
    width: 45px;
    height: 45px;
    border-radius: 40px;
    border: 2px solid var(--lightColor);
    margin: 5px;
}
/*contact szekció*/
.info {

}
.info > li {
    margin-bottom:15px;
}
.info > li > b {
    text-transform:capitalize;
    color: var(--darkTextColor);
    display:block;
}
.info a {
    color:var(--baseTextColor);
    transition: all 500ms ease-in-out;
    text-decoration: none;
}
.social a {
    color:var(--darkTextColor);
    display:inline-block;
    margin-right:5px;
    font-size:1.5em;
}
.info a:hover {
    color:var(--secondaryFontColor);
}

.contact-form textarea {
    min-height:150px;
}

/*SERVICES*/
#services .box {
    border: 1px solid lightgray;
}
.main-footer {
    text-align: center;
    padding: 15px;
}



/*tablet méret*/
@media screen and (min-width: 640px){
    .container {
        width: 80%;
        margin: 0 auto;
    }
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
    .grid-tablet-1 {
        grid-template-columns: 1fr;
    }
    .grid-1-2 {
        grid-template-columns: 1fr 2fr !important;
    }
    .grid-1-1 {
        grid-template-columns:1fr 1fr !important;
    }
    .contact-form > label:nth-child(3),
    .contact-form > label:nth-child(4){
        grid-column: span 2;
    }
    .column-2 {
         height: 10.5em;
     }

}

/*desktop méret*/
@media screen and (min-width: 1200px){
    .container {
        width: 1200px;
    }
    /*menü 1*/
    .flex-container {
        flex-direction: row;
    }
    .grid-container {
        grid-template-columns: repeat(3,1fr);
    }
    .main-menu {
        flex:1;
        justify-content: flex-end;
        align-items: center;
    }
    .grid-1-1-1 {
        grid-template-columns: repeat(3,1fr);
    }
    .main-menu a {
        margin-left: 20px;
    }

}